<div id="rightNavContainer">
  {{#each headline in controller}}
    <div {{bind-attr id="headline.scrollId"}} {{action "scrollToHeadline" headline.classId}} class="right-nav-icon"></div>
  {{/each}}
</div>

<div id="headlinesContainer" >
{{#each headline in controller}}
  {{view 'headline' contentBinding=this}}
{{/each}}
</div>
