<div id="rightNavContainer">
  {{#each model as |headline|}}
    <div id={{headline.scrollId}} {{action "scrollToHeadline" headline.classId}} class="right-nav-icon"></div>
  {{/each}}
</div>

<div id="headlinesContainer">
{{#each model as |headline|}}
  {{show-headline showHeadline='showHeadline' headline=headline}}
{{/each}}
</div>
