{{#popup-modal title='How to use Cesium' close='removeModal'}}
  <div>
    <p>
      <h4>How to I use Cesium?</h4>
      <ol>
        <li>Select desired tree species</li>
        <li>Select desired climate scenario</li>
        <li>Select a year or click the Play button to animate through 2011-2081.</li>
        <li>Click GET MAP to refresh Cesium with your final selections.</li>
      </ol>
    </p>
  </div>
{{/popup-modal}}

