{{#bs-modal-simple title='Choosing a climate scenario' close='removeModal'}}
  <div>
    <p>The best-case climate change scenario (RCP 2.6) is where CO)<sub>2</sub> emissions rise from current-day rates of ~9 billion tons per year, peak around mid-21<sup>st</sup> century, then decline to zero by the end of the 21<sup>st</sup> century. Under the worst-case scenario (RCP 8.5) - "business as usual" - emissions continue to rise at a relatively high rate throughout most of the 21<sup>st</sup> century, then stabilize at ~30 billion tons per year by the end of the century. See {{#link-to "headlines" "climate" tagName="a"}}Forest Change{{/link-to}} for more information.</p>
  </div>
{{/bs-modal-simple}}

